<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/app.css">

    <script src="/js/jquery.js"></script>

    <script src="{{'/bower_components/platform/platform.js' | cdn}}"></script>
    <script src="http://localhost:3000/livereload.js"></script>

    <!-- COUNT FOR INDIVIDUAL ARTICLE PAGE ROUTES - DASHES IN THE ID BREAK IT -->
    <!-- <script type="text/javascript"> var count = 0; </script> --> <!-- NOT USING -->

    <link rel="import" href="{{'/elements/events-title.html' | cdn}}">

  </head>
  <body>
    <div class="container">
      <content></content>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>